{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Nova avaliação</h1>
<div id="post">
	<form method="POST" class="post-form">{% csrf_token %}
	<p><h3>Nome Completo:{{ form.nome }}
	<br>
	<p><h3>Email:{{ form.email }}
	<br>
	<p><h3>Minicurso:{{ form.minicurso }}
	<br>
	<p><h3>Pontuação em função da clareza:{{ form.clareza }}
	<br>
	<p><h3>Pontuação em função do tempo:{{ form.tempo }}
	<br>
	<p><h3>Pontuação em função do tema:{{ form.tema }}
	<br>
	<p><h3>Pontuação em função da relevância:{{ form.relevancia }}
	<br>
	<button type="submit" class="save btn btn-default">Enviar</button>
	</form>
	<br>
	<br>
</div>
{% endblock %}