{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Por favor, julgue os seguintes itens:<br><h2>(Notas de 0 a 10)</h2></h1>
<div id="post">
	<form method="POST" class="post-form">{% csrf_token %}
	<p><h3>Nome Completo:{{ form.nome }}
	<br>
	<p><h3>Organização:{{ form.organizacao }}
	<br>
	<p><h3>Divulgação:{{ form.divulgacao }}
	<br>
	<p><h3>Coffee Break :{{ form.coffe_break }}
	<br>
	<p><h3>Palestras:{{ form.palestras }}
	<br>
	<p><h3>Open Lab:{{ form.open_lab }}
	<br>
	<p><h3>Indicaria o evento: {{ form.indicacao }}
		<br>(0 = não indicaria ; 10 = com certeza)</h3></p>
	<p><h3>Retornaria ao evento em outra edição: {{ form.retorno }}
		<br>(0 = não retornaria ; 10 = com certeza)</h3></p>
	<p><h3>Sua sugestão, crítica ou observação:<br>{{ form.sugestao }}
	<br>
	<button type="submit" class="save btn btn-default"><h1>Enviar</h1></button>
	</form>
	<br>
	<br>
	<br>
	<br>
</div>
{% endblock %}