<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<title>Workshop - Genética</title>
</head>
<header>
<div class="superior">
<div class="logo">
	<a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="logo"/>
</div>
</header>
<body>
</div>
<div class="menu">
	<div class="icone"><h3><a href="{% url 'avalia_evento' %}"><h3>Sorteio<br>Final</a></div>	
	<div class="icone"><h3><a href="{% url 'avalia_minicurso' %}"><h3>Avalia<br>mini-cursos<br></a></div>	
	<div class="icone"><h3><a href="{% url 'avaliacao' %}"><h3>Sorteio<br>Inicial</a></div>
	<div class="icone"><h3><a href="{% url 'ajax_index' %}"><h3>Perguntas<br></a></div>
{% if user.is_authenticated %}
	<div class="icone"><h3><a href="{% url 'sorteio' %}"><h3>Sorteador<br></a></div>
	<div class="icone"><h3><a href="{% url 'grafico_index' %}"><h3>Gráficos<br></a></div>
{% endif %}	
</div>
	{% block content %}
	{% endblock %}
</body>
</html>