{% extends 'base.html' %}
{% load static %}
{% block content %}
<p><h1>Explicando o conceito de cada um dos itens:</h1></p>
<ul>
	<li><h2>Avaliação</h2></li>
	<li><p>Sua opinião é importante para nós, portanto possibilitamos que você avalie o palestrante sem que ele saiba, o seu voto é contabilizado para retornar o gráfico. Ao avaliar um palestrante, você participa de sorteios.</p></li>
</ul>
<ul>
	<li><h2>Perguntas</h2></li>
	<li><p>Este item possibilita que você faça perguntas sem se identificar, por meio de seu celular. Você faz sua pergunta dentro deste item, e a mesma será exibida em uma página específica, sem que você necessite identificar-se. Este a elaboração é um pouco mais complicado, por isso ele está a parte do projeto.</p></li>
</ul>
{% endblock %}