{% extends 'base.html' %}
{% load static %}
{% block content %}
<p><h1>Bem vindo ao XIX WORKSHOP DE GENÉTICA !</h1></p>
<p><h2>O Workshop de Genética é um evento organizado pelos docentes e discentes do Programa de Pós Graduação em Ciências Biológicas AC Genética do IB - UNESP - Botucatu.</h2></p>
<ul>
	<li><h2>Perguntas</h2></li>
	<li><p>Clicando no botão "Perguntas", você abre uma tela onde poderá realizar perguntas aos palestrantes em tempo real. A cada início de palestra, as perguntas são zeradas, e é liberado para novas perguntas. Fique a vontade para questionar e sugerir.</p></li>
</ul>
<ul>
	<li><h2>Avaliação</h2></li>
	<li><p>Seu feedback é muito importante para nós. Com isso, podemos melhorar nos pontos que acharem necessários, e manter características que julgam importantes no Workshop. Clicando nos botões a baixo, você consegue avaliar o evento, minicursos e palestrantes, nos ajudando a preparar a cada ano, um melhor congresso.</p></li>
</ul>
<br>
<br>
<br>
{% endblock %}