{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<h2><p>Nomes das pessoas que avaliaram a área:</p></h2>
	{% for nomes in lista_pontuacao %}
		{{ nomes.nome }},
	{% endfor %}
	<h2><p>Nomes das pessoas que avaliaram o evento:</p></h2>
	{% for nomes in lista_evento %}
		{{ nomes.nome }},
	{% endfor %}
	<h1><p>O sorteado foi:</p></h1>
	<div id='escolhido' style = "display:none">
		<p id='escolhido'><h2>Parabéns<br>{{ escolhido }}</br>você foi o ganhador do sorteio!</p>
	</div>
	<button onclick="aparece()">Sorteio 1!</button>
	<br>
	<br>
	<h1><p>O sorteado foi:</p></h1>
	<div id='escolhido3' style = "display:none">
		<p id='escolhido3'><h2>Parabéns<br>{{ escolhido }}</br>você foi o ganhador do sorteio!</p>
	</div>
	<button onclick="aparece3()">Sorteio 2!</button>
	<br>
	<br>
	<h1><p>O sorteado foi:</p></h1>
	<div id='escolhido2' style = "display:none">
		<p id='escolhido2'><h2>Parabéns<br>{{ escolhido2 }}</br>você foi o ganhador do sorteio!</p>
	</div>
	<button onclick="aparece2()">Sorteio 3!</button>
<br>
<br>
<br>
<p><h2>Para sortear outro nome, por favor atualize a página!</h2></p>
<br>
<br>
<br>
<br>
<br>
</body>
<script type="text/javascript">
var i = 0;
function aparece() {
	var div = document.getElementById('escolhido');
		if(i == 0){
			$('#escolhido').fadeIn(1200);
			//div.style.display = "block";

			i = i + 1	
		}
	}
function aparece2() {
	var div = document.getElementById('escolhido2');
		if(i == 0){
			$('#escolhido2').fadeIn(1200);
			//div.style.display = "block";
			i = i + 1	
		}
	}

function aparece3() {
	var div = document.getElementById('escolhido3');
		if(i == 0){
			$('#escolhido3').fadeIn(1200);
			//div.style.display = "block";
			i = i + 1	
		}
	}
</script>
{% endblock %}