{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id='forms'>
	<h1>Nova postagem</h1>
	<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-success"><b><h2>Publica</h2></b></button>
	</form>
</div>
<div id='btns'>
 <button class='btn' id='mostre'>Exibir a caixa de texto</button>
 <button class='btn' id='esconde'>Esconder a caixa de texto.</button>
 <button class='btn' id='escondebtn'>Esconder os botões abaixo.</button>
 <button class='btn' id='mostrebtn'>Exibir os botões abaixo.</button>
 
</div>
<p class='p1'></p>
<br>
<br>
<br>
<br>
<script type="text/javascript">
	$(document).ready(function(){
	$("#mostre").hide()
	$("#mostrebtn").hide()
	$("#escondebtn").click(function(){
        $(".menu").hide(1500);
        $(this).hide()
        $("#mostrebtn").show()
    });
    $("#esconde").click(function(){
        $("#forms").hide(1500);
        $(this).hide()
        $("#mostre").show()
    });
    $("#mostre").click(function(){
        $("#forms").show(1500);
        $(this).hide()
        $("#esconde").show()
    });
    $("#mostrebtn").click(function(){
        $(".menu").show(1500);
        $(this).hide()
        $("#escondebtn").show()
    });
});
		var n = 0;
        var t = 0;
        var i = 0;
		$('.apireq').ready( function getdata() {
            $.ajax({
                     url : "http://workshopgenetica.herokuapp.com/api/ajax/",
                     dataType: "json",
                     success : function (data) {
                        //t = data.length ;
                        //console.log(data.length)
                        //console.log(t)
                        if (n == 0 || t < data.length){
                            for(i = t; i < data.length; i ++){
                            $(".p1").append("<li>" + data[i].texto + "</li>");
                            $(".p1").append("<br>");
                            n = n + 1
                            t = data.length
                            setTimeout(getdata,5000);
                                                      }
                        }else{
		                    setTimeout(getdata, 5000);
		                     } 

		                },
		             error:function(){
		             	alert('Ocorreu algum erro de conexão. Por favor, atualize a página!');
		             }
		             })
		});
		function estourar(elemento){
			document.body.removeChild(elemento);
		}
    </script>
</body>
{% endblock %}