body{
	margin: 0;
}

.logo img{
	display: hidden;
	margin: auto;   
  	padding-left: 80px;
  	width: 30%;   
  	height: 80px; 
  	margin: 0;
  	 
}

.menu{
	width: 95%;
	height: 70px;
	background-color: transparent;
	position: fixed;
	bottom:0;
  margin-bottom: 10px;
}

.icone{
	width: 15%;
	height: 80px;
	background-color: #008;
	opacity: 1;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 20px;
	text-align: center;
	opacity: 1;
	color: #FFF;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}
a{
	text-decoration: none;
	color: white;
}

.superior{
	height: 80px;
	background-color: rgb(1,0,0);
	/*background-color: #100;*/
	color: #FFF;
	/* tabela de cores: http://erikasarti.com/html/tabela-cores/ */
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

input{   
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:150px
}
 
textarea{
    border: 1px solid #000000;
    background:#cccccc;
    width:150px;
    height:100px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}

select{
	border: 1px solid #000000;
    background:#cccccc;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;

}
select:hover{
	background: #ffffff; border:1px solid #990000;
}

input[type=text]:hover, textarea:hover{ 
         background: #ffffff; border:1px solid #990000;
}

input[type=email]:hover, textarea:hover{ 
         background: #ffffff; border:1px solid #990000;
}

input[type=number]:hover, textarea:hover{ 
         background: #ffffff; border:1px solid #990000;
}


button[type=submit]{
		width: 150px;
		height: 70px;
        background:#006699;
        color:#dddddd;
}

button[type=submit]:hover{
	background: coral;
	border: 1px solid #990000;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}
textarea{
	width: 35%;
}

.bola{
  overflow:scroll;
  height: 0px auto;
}